.navegador{
    background-image: linear-gradient(to right, hsl(210, 80%, 10%), hsl(180, 60%, 5%), hsl(310, 80%, 10%));    
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation: nave 4000ms infinite ease-in;
    height: 40px;
    
}

.homeButton {
width: 115px;
height: 35px;
border: none;
outline: none;
color: black;
background: #00d8f5;
position: absolute;
z-index: 0;
border-radius: 10px;
margin: 0 auto;
left: 50%;
transform: translateX(-50%);
font-family: "WubbaLubbaDubDub";
font-size: 23px;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.favoritesButton {
    width: 95px;
    height: 35px;
    border: none;
    outline: none;
    color: black;
    background: #00d8f5;
    position: absolute;
    z-index: 0;
    border-radius: 10px;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translateX(0%);
    font-family: "WubbaLubbaDubDub";
    font-size: 23px;
    left:230px
}

.aboutButton{
    width: 95px;
    height: 35px;
    border: none;
    outline: none;
    color: black;
    background: #00d8f5;
    position: absolute;
    z-index: 0;
    border-radius: 10px;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translateX(0%);
    font-family: "WubbaLubbaDubDub";
    font-size: 23px;
    right:230px
}

.aboutButton:before {
    content: '';
    background: linear-gradient(45deg, #8ffe77, #00d8f5, #8ffe77, #00d8f5, #8ffe77, #00d0ff, #8ffe77, #00d0ff, #8ffe77);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.aboutButton:active {
    color: #000
}

.aboutButton:active:after {
    background: transparent;
}

.aboutButton:hover:before {
    opacity: 1;
}

.aboutButton:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00d8f5;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.homeButton:before {
    content: '';
    background: linear-gradient(45deg, #8ffe77, #00d8f5, #8ffe77, #00d8f5, #8ffe77, #00d0ff, #8ffe77, #00d0ff, #8ffe77);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.homeButton:active {
    color: #000
}

.homeButton:active:after {
    background: transparent;
}

.homeButton:hover:before {
    opacity: 1;
}

.homeButton:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00d8f5;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.homeButton:before {
    content: '';
    background: linear-gradient(45deg, #8ffe77, #00d8f5, #8ffe77, #00d8f5, #8ffe77, #00d0ff, #8ffe77, #00d0ff, #8ffe77);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.homeButton:active {
    color: #000
}

.homeButton:active:after {
    background: transparent;
}

.homeButton:hover:before {
    opacity: 1;
}

.homeButton:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00d8f5;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.favoritesButton:before {
    content: '';
    background: linear-gradient(45deg, #8ffe77, #00d8f5, #8ffe77, #00d8f5, #8ffe77, #00d0ff, #8ffe77, #00d0ff, #8ffe77);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.favoritesButton:active {
    color: #000
}

.favoritesButton:active:after {
    background: transparent;
}

.favoritesButton:hover:before {
    opacity: 1;
}

.favoritesButton:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00d8f5;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.logOut{
    border-radius: 10px;
    border: 0px;
    background-color: #00d8f5;
    width: 100px;
    height: 35px;
    color: black;
    margin: 0px 5px 0px 5px ;
    font-family: 'WubbaLubbaDubDub';
    position: absolute;
    left: 25px;
    font-size: 25px;
}

.logOut:hover{
    box-shadow: 0px 0px 10px 2px;
    background-color: red;
    animation: salir 1000ms infinite ease-in;
    border: 1px solid black;
}

@keyframes salir {
    0% {
    box-shadow: 0px 0px 10px 2px rgb(160, 16, 16);
    }
    50% {
    box-shadow: 0px 0px 10px 2px red;
    }
    70% {
    box-shadow: 0px 0px 10px 2px red;
    }
    100% {
    box-shadow: 0px 0px 10px 2px rgb(160, 16, 16);
    }
}

@keyframes nave {
    0% {
        border-bottom: 1px solid #00d8f5;
    box-shadow: 0px 0px 10px 2px #8ffe77;
    }
    50% {
        border-bottom: 1px solid #00d8f5;
    box-shadow: 0px 0px 10px 2px #8ffe77;
    }
    70% {
        border-bottom: 1px solid #00d8f5;
    box-shadow: 0px 0px 10px 2px #00d8f5;
    }
    100% {
        border-bottom: 1px solid #00d8f5;
    box-shadow: 0px 0px 10px 2px #8ffe77;
    }
}

.init{
    position: absolute;
    left: 190px;
}

.login{
    position: absolute;
    right: 20px;
    border-radius: 10px;
    border: 0px;
    background-color: #00d8f5;
    width: 100px;
    height: 35px;
    color: black;
    margin: 0px 5px 0px 5px ;
    font-family: 'WubbaLubbaDubDub';
    font-size: 25px;
}

.login:hover{
    box-shadow: 0px 0px 10px 2px;
    background-color: #8ffe77;
    animation: salir 1000ms infinite ease-in;
    border: 1px solid black;
}

.episodesButton:before {
    content: '';
    background: linear-gradient(45deg, #8ffe77, #00d8f5, #8ffe77, #00d8f5, #8ffe77, #00d0ff, #8ffe77, #00d0ff, #8ffe77);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.episodesButton:active {
    color: #000
}

.episodesButton:active:after {
    background: transparent;
}

.episodesButton:hover:before {
    opacity: 1;
}

.episodesButton:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00d8f5;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.episodesButton{
    width: 115px;
height: 35px;
border: none;
outline: none;
color: black;
background: #00d8f5;
position: absolute;
z-index: 0;
border-radius: 10px;
margin: 0 auto;
left: 28.3%;
transform: translateX(-50%);
font-family: "WubbaLubbaDubDub";
font-size: 23px;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

