.successContainerAlert{
  position: absolute;
  border-radius: 15px;
  width: 230px;
  height: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 1%;
  bottom: 10%;
  background: linear-gradient(to top, #dfe9f3cd 0%, rgba(255, 255, 255, 0.855) 100%);
  animation: entrada 2s ease 0s 1 normal forwards;
}

.alertSuccess{
  color: green;
  font-size: 40px;
  margin: 0;
}

.success{
  color: green;
  font-family: "WubbaLubbaDubDub";
  font-size: 23px;
  margin: 0;
}