.contenedorHome{
    background-image: linear-gradient(to top, hsl(310, 60%, 10%), hsl(180, 40%, 5%), hsl(210, 60%, 10%));
    padding-top: 1px;
    height: 100vh; 
}

.tituloHome{
    color: white;
    animation: titulo 1s ease 0.3s 1 normal forwards;
    opacity: 0;
    transition: opacity 2s ease 5s;
    font-size: 34px;
}

.tituloHome:hover{
    opacity: 1;
}

.rickymorty{
    position: relative;
    top: 70px;
    right: 350px;
    width: 480px;
    margin: 20px;
    height: 400px;
    animation: rickymorty 3s ease 1.5s 1 normal forwards;
    opacity: 0;
    transition: opacity 4s ease 3s;
}

.rickymorty:hover{
    opacity: 1;
}

@keyframes rickymorty {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.contenedorDescription{
    width: 500px;
    position: relative;
    left: 720px;
    bottom: 300px;
    font-size: 30px;
    font-family: "WubbaLubbaDubDub";
    color: white;
    background-image: linear-gradient(to top, hsl(310, 60%, 5%), hsl(180, 40%, 2%), hsl(210, 60%, 5%));
    animation: description 2s ease 1s 1 normal forwards;
    opacity: 0;
    transition: opacity 3s ease 5s;
}

.contenedorDescription:hover{
    opacity: 1;
}

@keyframes description {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes titulo {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.rickHome{
    color: #00ff00;
    font-size: 38px;
    text-shadow: 0 0 15px #00b0c8, 0 0 10px #00b0c8;
    margin-left: 5px;
}

.mortyHome{
    font-size: 38px;
    text-shadow: 0 0 15px #00ff00, 0 0 10px #00ff00;
    margin-left: 5px;
}