.contenedorHome{
    background-image: linear-gradient(to top, hsl(310, 60%, 10%), hsl(180, 40%, 5%), hsl(210, 60%, 10%));
    padding-top: 1px;
    height: 100vh; 
    padding-bottom: 210px;
}


.tituloHome{
    color: white;
    animation: titulo 1s ease 0.3s 1 normal forwards;
    opacity: 0;
    transition: opacity 2s ease 5s;
    font-size:  2.525em;
}

.tituloHome:hover{
    opacity: 1;
}

.rickymorty{
    position: absolute;
    top: 180px;
    right: 650px;
    width: 20em;
    margin: 20px;
    height: 15em;
    animation: rickymorty 3s ease 1.5s 1 normal forwards;
    opacity: 0;
    transition: opacity 4s ease 3s;
}

.rickymorty:hover{
    opacity: 1;
}

@keyframes rickymorty {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.contenedorDescription{
    width: 20em;
    position: absolute;
    right: 80px;
    top: 200px;
    font-size: 1.5em;
    font-family: "WubbaLubbaDubDub";
    color: white;
    background-image: linear-gradient(to top, hsl(310, 60%, 5%), hsl(180, 40%, 2%), hsl(210, 60%, 5%));
    animation: description 2s ease 1s 1 normal forwards;
    opacity: 0;
    transition: opacity 3s ease 5s;
}

.contenedorDescription:hover{
    opacity: 1;
}

@keyframes description {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes titulo {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.rickHome{
    color: #00ff00;
    font-size: 38px;
    text-shadow: 0 0 15px #00b0c8, 0 0 10px #00b0c8;
    margin-left: 5px;
}

.mortyHome{
    font-size: 38px;
    text-shadow: 0 0 15px #00ff00, 0 0 10px #00ff00;
    margin-left: 5px;
}

.randomCharacters{
    position: relative;
    top: 600px;
    height: 110px;
    margin: 0px;
    background-image: linear-gradient(to top, hsl(310, 60%, 5%), hsl(180, 40%, 0%),  hsl(310, 60%, 5%));
    font-size: 57px;
    color: white;
    padding-top: 15px;
}

.rickPepinillo{
    width: 155px;
    height: 200px;
    position: relative;
    top: 480px;
    right: 500px;
    padding-top: 5px;
}

.contenedoRandom{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 50px;
    row-gap: 0px;
    background-image: linear-gradient(to bottom, hsl(310, 60%, 10%), hsl(180, 40%, 5%), hsl(210, 60%, 10%));
    padding: 100px;
    padding-top: 50px;
    padding-bottom: 90px;
    min-width: 0;
    overflow: auto;
    position: relative;
    top: 385px;
}

.registerorsign{
    position: relative;
    color: white;
    font-size: 30px;
    top: 380px;
    background-color: hsl(205, 60%, 4%);
    padding-top: 45px;
    padding-bottom: 45px;
    font-family: "WubbaLubbaDubDub";
}

.contenedorLoginRegister{
    background-color: hsl(204, 60%, 5%);
    padding-bottom: 10px;
}

.contenedorLoginSign{
    display: grid;
    grid-template-columns: repeat(2, 280px);
    column-gap: 50px;
    z-index: 1;
}


.cartasLog{
    background-image: linear-gradient(to top, rgb(0, 168, 0), rgba(0,0,0,1));
    width: 280px;
    height: 370px;
    margin: 20px;
    position: relative;
    left: 600px;
    top: 380px;
    box-shadow: 0px 17px 24px 0px rgba(5,53,5,1);
    -webkit-box-shadow:  0px 17px 24px 0px rgba(5,53,5,1);
    -moz-box-shadow: 0px 17px 24px 0px rgba(5,53,5,1);
    animation: lights2 4000ms infinite ease-in;

}

.h3Log{
    font-size: 50px;
    font-family: "WubbaLubbaDubDub";
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 50px;
    color: white;
}

.portalLog{
    width: 220px;
    height: 190px;
    position: relative;
    top: 0px;
    border-radius: 1009px;
}

@keyframes rotatePortal {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.portalLog:hover {
    animation-name: rotatePortal;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.cartasRes{
    background-image: linear-gradient(to top, rgb(0, 154, 175), rgba(0,0,0,1));
    width: 280px;
    height: 370px;
    margin: 20px;
    position: relative;
    left: 110px;
    bottom: 13px;
    box-shadow: 0px 17px 24px 0px rgba(2,92,104,1);
    -webkit-box-shadow: 0px 17px 24px 0px rgba(2,92,104,1);
    -moz-box-shadow: 0px 17px 24px 0px rgba(2,92,104,1);
    animation: lights 4000ms infinite ease-in;

}

.portalRes{
    width: 220px;
    height: 190px;
    position: relative;
    top: 0px;
}

.portalRes:hover {
    animation-name: rotatePortal;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.h3Res{
    font-size: 50px;
    font-family: "WubbaLubbaDubDub";
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 50px;
    color: white;
}

.botonTop{
    position: absolute;
    top: 2000px;
    right: 80px;
}

@keyframes lights {
    0% {
    box-shadow: 0px 0px 10px 2px #00d8f5;
    }
    50% {
    box-shadow: 0px 0px 10px 2px #007282;
    }
    70% {
    box-shadow: 0px 0px 10px 2px #007282;
    }
    100% {
    box-shadow: 0px 0px 10px 2px #00d8f5;
    }
}

@keyframes lights2 {
    0% {
    box-shadow: 0px 0px 10px 2px #00ff00;
    }
    50% {
    box-shadow: 0px 0px 10px 2px #21b601;
    }
    70% {
    box-shadow: 0px 0px 10px 2px #21b601;
    }
    100% {
    box-shadow: 0px 0px 10px 2px #00ff00;
    }
}