.conteedorFavorites{
    background-image: linear-gradient(to bottom, hsl(210, 80%, 10%), hsl(180, 60%, 5%), hsl(310, 80%, 10%));    
    height:70vw;
}

.contenedorFavs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    row-gap: 30px;
    padding-top: 50px;
    padding-left: 35px;
    padding-bottom: 10px;

}


select{
    margin: 20px 40px 0px 40px;
    font-family: "WubbaLubbaDubDub";
    background: rgb(1, 30, 42);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(1,0,16,0.832847787552521) 0%, rgba(0,0,0,0.6619794402135855) 100%);       opacity: 0.85;
    transition: all 100ms ease-in-out;
    animation: lights 4000ms infinite ease-in;
    color: #00ff00;
    width: 200px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}

select:hover{
    box-shadow: 0px 0px 10px 2px;
    background-color: #00b0c8;
    border-radius: 10px 10px 0px 0px;
    transition: all 100ms ease-in-out;
    animation: lights 4000ms infinite ease-in;
}

option{
    background-color: black;
    color: #00d8f5;
}

@keyframes lights {
    0% {
    box-shadow: 0px 0px 10px 2px #00d8f5;
    border: 1px solid #00ff00;
    }
    50% {
    box-shadow: 0px 0px 10px 2px #007282;
    border: 1px solid #21b601;
    }
    70% {
    box-shadow: 0px 0px 10px 2px #007282;
    border: 1px solid #007282;
    }
    100% {
    box-shadow: 0px 0px 10px 2px #00d8f5;
    border: 1px solid #00ff00;
    }
}