.input{
    border: 1px solid #00d8f5;
    border-radius: 12px 0px 0px 12px;
    background-color: white;
    font-size: 20px;
    font-family: "WubbaLubbaDubDub";
    margin-left: 10px;
    color: green;
    position: absolute;
    right: 130px;
    height: 34.5px;
}

.boton {
    width: 100px;
    height: 35px;
    border: none;
    outline: none;
    color: black;
    background: #111;
    position: absolute;
    z-index: 0;
    border-radius: 10px;
    font-family: "WubbaLubbaDubDub";
    font-size: 23px;
    position: absolute;
    right: 30px;
}

.boton:before {
    content: '';
    background: linear-gradient(45deg, #8ffe77, #00d8f5, #8ffe77, #00d8f5, #8ffe77, #00d0ff, #8ffe77, #00d0ff, #8ffe77);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 0px 12px 12px 0px;
}

.boton:active {
    color: #000
}

.boton:active:after {
    background: transparent;
}

.boton:hover:before {
    opacity: 1;
}

.boton:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00d8f5;
    left: 0;
    top: 0;
    border-radius: 0px 12px 12px 0px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

h1{
    color: white;
    padding-top: 35px;
}