.contenedorCards{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 50px;
    row-gap: 30px;
    background: rgb(24, 20, 32);
    background: linear-gradient(180deg, rgba(24, 20, 32, 1) 0%, rgba(68, 47, 59, 1) 50%, rgba(64, 30, 80, 1) 100%);
    padding: 50px;
    min-height: 100vh;
    min-width: 0;
    overflow: auto;
}

.contenedorLoading{
    background-color: red;
  
  }
  
  .portalLoading{
    position: relative;
    top: 150px;
    width: 300px;
    height: 280px;
    border-radius: 999px;
    animation: myAnim 4s ease 0s infinite normal forwards;
  }
  
  .loading{
    font-size: 35px;
    position: relative;
    top: 150px;
  }

  @keyframes myAnim {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}