.foto{
    margin: 40px;
    width: 300px;
    position: absolute;
    right: 50px;
    top: 100px;
    border: 2px solid #00d8f5;
    animation: lights 1000ms infinite ease-in;

}

@keyframes lights {
    0% {
    box-shadow: 0px 0px 10px 2px #00ff00;
    border: 1px solid #00d8f5;
    }
    50% {
    box-shadow: 0px 0px 10px 2px#21b601;
    border: 1px solid #007282;
    }
    70% {
    box-shadow: 0px 0px 10px 2px #007282;
    border: 1px solid #007282;
    }
    100% {
    box-shadow: 0px 0px 10px 2px #00ff00;
    border: 1px solid #00d8f5;
    }
}

.nombre{
    color: red;
    position: absolute;
    right: 160px;
}

.texto{
    color: #00ff00;
    position: absolute;
    left: 90px;
    top: 120px;
    font-family: "WubbaLubbaDubDub";
    font-size: 25px;
    text-shadow: 4px 4px 5px rgba(72,176,211,1);
}