.elCapo{
  
  background-image: linear-gradient(to top, hsl(310, 60%, 10%), hsl(180, 40%, 5%), hsl(210, 60%, 10%));
}

.contenedorCharacters{
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr)) 1fr; /* Agregamos una fila adicional */
  column-gap: 50px;
  row-gap: 30px;
  padding: 50px;
  min-height: 100vh;
  min-width: 0;
  overflow: auto;
}

.contenedorboton {
  display: flex;
  justify-content: center;
  column-gap: 15px;
  position: relative;
  bottom: 20px;
  padding-left: 15px;
}

.botonPage{
  display: grid;
  place-items: center;
  color: black;
  border-radius: 5px;
  font-size: 1.4rem;
  transition: all 0.2s ease-in-out;
  margin-top: 20px;
  height: 45px;
  width: 60px;
  position: relative;
  right: 0px;
  background-color: #8ffe77;
  color: black;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  box-shadow: 0 0 10px rgba(142, 198, 63, 0.5);
  transition: transform 0.2s ease-in-out;
  font-family: "WubbaLubbaDubDub";
}

.botonPage:hover{
  background-color: #00ffef;
  color: #060606;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(142, 198, 63, 0.75);
}


.portalLoading{
  position: relative;
  top: 150px;
  width: 300px;
  height: 280px;
  border-radius: 999px;
  animation: myAnim 4s ease 0s infinite normal forwards;
}

.loading{
  font-size: 35px;
  position: relative;
  top: 150px;
}

.error{
  font-size: 50px;
  color:red ;
}

.botonPage:disabled {
  opacity: 0.5;
  cursor: not-allowed;
} 

@keyframes myAnim {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

.botonTop{
  padding-right: 20px;
  padding-bottom: 45px;
}

.divFilters{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.h2Filter{
  margin: 0;
  margin-top: 30px;
}