.navegador{
    background-color: black;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: end;
    animation: nave 4000ms infinite ease-in;
}

.boton {
    width: 95px;
    height: 35px;
    border: none;
    outline: none;
    color: black;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin:0px 10px 0px 10px;
    font-family: "WubbaLubbaDubDub";
    font-size: 23px;
}

.boton:before {
    content: '';
    background: linear-gradient(45deg, #8ffe77, #00d8f5, #8ffe77, #00d8f5, #8ffe77, #00d0ff, #8ffe77, #00d0ff, #8ffe77);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.boton:active {
    color: #000
}

.boton:active:after {
    background: transparent;
}

.boton:hover:before {
    opacity: 1;
}

.boton:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00d8f5;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.logOut{
    border-radius: 10px;
    border: 0px;
    background-color: #00d8f5;
    width: 100px;
    height: 35px;
    color: black;
    margin: 0px 5px 0px 5px ;
    font-family: 'WubbaLubbaDubDub';
    position: absolute;
    left: 25px;
    font-size: 25px;
}

.logOut:hover{
    box-shadow: 0px 0px 10px 2px;
    background-color: red;
    animation: salir 1000ms infinite ease-in;
    border: 1px solid black;
}

@keyframes salir {
    0% {
    box-shadow: 0px 0px 10px 2px rgb(160, 16, 16);
    }
    50% {
    box-shadow: 0px 0px 10px 2px red;
    }
    70% {
    box-shadow: 0px 0px 10px 2px red;
    }
    100% {
    box-shadow: 0px 0px 10px 2px rgb(160, 16, 16);
    }
}

@keyframes nave {
    0% {
        border-bottom: 1px solid #00d8f5;
    box-shadow: 0px 0px 10px 2px #8ffe77;
    }
    50% {
        border-bottom: 1px solid #00d8f5;
    box-shadow: 0px 0px 10px 2px #8ffe77;
    }
    70% {
        border-bottom: 1px solid #00d8f5;
    box-shadow: 0px 0px 10px 2px #00d8f5;
    }
    100% {
        border-bottom: 1px solid #00d8f5;
    box-shadow: 0px 0px 10px 2px #8ffe77;
    }
}